.additionalFilters {
  background-color: deepskyblue;
  background-color: #52fff3;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 95%;
  margin: 2.5% auto 0 auto;
  padding: .5% 0;
  border: 1px solid orangered;
  border-top: none;
  border-left: none;
  box-shadow: 2.5px 2.5px 5px 0px orangered;
  .additionalFilterContainer {
    &:first-child {
      border-right: 1px solid orangered;
    }
    flex: 1;
    display: flex;
    justify-content: center;
    .dateFilter {
      display: flex;
      flex: .25;
      label {
        color: orangered;
        display: flex;
        justify-content: center;
        flex: 1;
        align-items: center;
      }
    }
    .additionalFilter {
      background-color: deepskyblue;
      color: ivory;
      border: 1px solid orangered;
      height: auto;
      padding: .25% 0;
      text-align: center;
      &::placeholder {
        color: ivory;
      }
    }
  }
}