.ytdTotalsTitle {
  text-decoration: underline;
  color: orangered;
}

.ytdTotalsTitle,
.ytdDescriptor,
.entryDescriptor {
  cursor: default;
}

.speed {
  display: inline;
  padding: none;
}

#custom-distance {
  margin-top: 1.5%;
  margin-left: 5%;
}

#rateLimitContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .rate-limit-message {
    &:first-of-type {
      text-decoration: underline;
    }
    display: flex;
    justify-content: center;
    color: orangered;
    width: 100%;
    padding: 0.5% 0;
  }
}
