#report {
  margin: 2.5% auto;
  width: 95%;
  .pageNoUls,
  .entryUls {
    list-style-type: none;
    margin-bottom: 1%;
  }

  .entryUls {
    -webkit-box-shadow: 0 0 10px coral;
    box-shadow: 0 0 10px coral;
  }

  .pageNoUls {
    display: flex;
    justify-content: center;
  }
}
